.register-restaurant-body {
  margin-top: 7rem;
  display: flex;
  flex-direction: column;
}
.register-restaurant-body > h1 {
  text-align: center;
}
.register-restaurant-form {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.register-restaurant-form > *:not(*:nth-child(1)) {
  margin-top: 1rem;
}
.register-restaurant-input-container {
  max-width: 376px;
  display: flex;
  font-size: 1.2rem;
  align-items: center;
  justify-content: center;
  position: relative;
}
.register-restaurant-textarea {
  margin-top: 1rem;
  border-radius: 4px;
  padding: 0.4rem 0.2rem 0.4rem 2.5rem;
  height: 10rem;
  margin-left: 1rem;
  resize: none;
  border: 1px rgb(189, 188, 188) solid;
  font-size: 1.2rem;
}

.register-restaurant-input-container > svg {
  position: absolute;
  left: 28%;
}

.register-restaurant-input {
  margin-left: 1rem;
  border-radius: 4px;
  border: 1px rgb(189, 188, 188) solid;
  padding: 0.4rem 0 0.4rem 2.5rem;
  font-size: 1.2rem;
}
.register-restaurant-textarea-container {
  display: flex;
  font-size: 1.2rem;
  align-items: center;
  position: relative;
}
.register-restaurant-textarea-container > p {
  align-self: flex-start;
  margin-top: 1rem;
}
.register-restaurant-textarea-container > svg {
  position: absolute;
  left: 28%;
  top: 14%;
}

.register-restaurant-submit {
  align-self: center;
  color: white;
  background-color: var(--bg-third);
  display: flex;
  border-radius: 1rem;
  border: none;
  width: 4rem;
  font-family: 微軟正黑體;
  font-size: 1rem;
  font-weight: 900;
  cursor: pointer;
  height: 36px;
  align-items: center;
  justify-content: center;
}
.register-restaurant-submit:hover {
  background-color: #000000c4;
  transition: 0.2s;
}
.register-restaurant-upload-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.register-restaurant-upload-input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 1rem 0 2rem;
}

.register-restaurant-upload-input-trigger {
  width: 60px;
  height: 60px;
  border: 1px #0084ff dashed;
  justify-content: center;
  background-color: white;
  display: flex;
  align-items: center;
  border-radius: 5 px;
  cursor: pointer;
}

.register-restaurant-popup-content-content {
  min-width: 50ch;
  height: 40ch;
}
.register-restaurant-select {
  margin: 0.5rem;
}

.login-popup-content {
  min-width: auto;
  height: auto;
}

.register-restaurant-upload-popup-input-container {
  height: 100%;
  align-self: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border: 1px rgb(0, 132, 255) dashed;
  justify-content: center;
  display: flex;
  border-radius: 5 px;
  cursor: pointer;
}

.register-restaurant-upload-popup {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.register-restaurant-upload-popup-left {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-restaurant-upload-popup-left > button {
  align-self: center;
  color: white;
  background-color: var(--bg-third);
  display: flex;
  border-radius: 1rem;
  border: none;
  width: 4rem;
  font-family: 微軟正黑體;
  font-size: 1rem;
  font-weight: 900;
  cursor: pointer;
  height: 36px;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}
.register-restaurant-upload-popup-left > button:hover {
  background-color: #000000c4;
  transition: 0.2s;
}
.register-restaurant-crop-img {
  display: flex;
  position: relative;
  width: 10rem;
  height: 10rem;
  border: 1px rgb(199, 199, 199) solid;
  background-color: #d1d1d1;
  justify-content: center;
}

.register-restaurant-crop-img-container {
  display: flex;
  justify-content: center;
  align-self: center;
  margin-top: 1rem;
}
.register-restaurant-cropper {
  height: 300px;
  width: 300px;
  align-self: center;
  background: #b3b3b3;
}
.register-restaurant-upload-input-container > h5 {
  margin: 0;
}
@media only screen and (max-width: 768px) {
  .register-restaurant-crop-img-container {
    margin-top: 1rem;
  }
  .register-restaurant-cropper {
    width: 225px;
    height: 225px;
  }
}

@media only screen and (max-width: 500px) {
  .register-restaurant-popup-content-content {
    min-width: 40ch;
    height: 40ch;
  }
}

@media only screen and (max-width: 452px) {
  .register-restaurant-input {
    width: 9rem;
    font-size: 1rem;
  }
  .register-restaurant-input-container > svg {
    /* top: 50%; */
    left: 37%;
  }
  .register-restaurant-form {
    align-items: center;
    justify-content: center;
    padding: 1rem;
  }
  .register-restaurant-textarea-container > svg {
    position: absolute;
    left: 37%;
    top: 13%;
  }
  .register-restaurant-textarea {
    font-size: 1rem;
    margin-top: 1rem;
    width: 9rem;
  }
}
