:root {
  font-size: 16px;
  font-family: Helvetica, 微軟正黑體;
  --bg-primary: #ffffff;
  --bg-secondary: #819ad1;
  --bg-third: #000000;
  --bg-third-hover: #000000c4;
}
.restaurant-page-body-containter {
  display: flex;
  flex-direction: column;
  /* padding: 7rem 4rem 0.5rem 2rem; */
  width: 100%;
}
.restaurant-page-body-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 5rem 2rem 1rem;
  box-shadow: 0 0 4px grey;
}

.restaurant-page-body-info-review {
  display: flex;
  align-items: center;
}

.restaurant-page-body-info-location {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.restaurant-page-body-info-location > p {
  padding-left: 0.25rem;
}

.restaurant-page-body-info-location > svg {
  padding-left: 0.25rem;
}
.restaurant-page-body-info-location > svg:not(*:first-child) {
  margin-left: 1rem;
  border-left: 1px grey solid;
  padding-left: 0.5rem;
}
.restaurant-page-body-info-location > *:nth-child(4) {
  color: grey;
}
.restaurant-page-body-info-total-review {
  margin: 0 0 0.2rem 0.3rem;
  padding: 0.2rem;
}
.restaurant-page-body-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  width: 35.5rem;
}
.restaurant-page-body-main-image-container > .restaurant-page-body-img {
  width: 100%;
}

.restaurant-page-body-main-image-container {
  width: max(40%, 24rem);
}

.restaurant-page-body-second-image-container {
  display: flex;
  flex-direction: column;
  width: 11.5rem;
  padding-left: 1rem;
}

.restaurant-page-body-second-image-container > *:nth-child(2) {
  padding-top: 1rem;
}

.restaurant-page-body-second-image-container > .restaurant-page-body-img {
  width: 100%;
}
.restaurant-page-body-main-container {
  padding-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.restaurant-page-body-intro-container {
  padding: 2rem;
  width: 25ch;
  font-size: 1.5rem;
}
.restaurant-page-reviews {
  padding: 1rem;
  border: 1px rgb(194, 191, 191) solid;
  margin: 2rem 2rem 1rem;
  display: flex;
  flex-direction: column;
  max-width: 60ch;
}
.restaurant-page-header > * {
  margin: 0.25rem 0.5rem 0.25rem 1rem;
}
.restaurant-page-header {
  display: flex;
  justify-content: space-between;
}
.restaurant-page-review-button > p {
  color: white;
}
.restaurant-page-review-button {
  padding: 0 0.5rem 0 0.5rem;
  display: flex;
  align-items: center;
  color: white;
  background-color: black;
  border: none;
  border-radius: 4px;
}
.restaurant-page-user-review-image {
  padding: 1rem;
  align-self: flex-end;
}
.restaurant-page-user-review-image > img {
  width: 10rem;
  height: 10rem;
  align-self: flex-end;
}

.restaurant-page-review-button:hover {
  cursor: pointer;
  background-color: #474646;
  transition: 0.2s;
}
.restaurant-page-user-review {
  margin-top: 1rem;
  border-top: 1px #cecece solid;
  border-bottom: 1px #cecece solid;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}
.restaurant-page-user-review-left {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.restaurant-page-user-review-left > img {
  width: 5rem;
  height: 5rem;
  border-radius: 100%;
}
.restaurant-page-user-review-left > p {
  margin-top: 1rem;
}
.restaurant-page-user-review-right {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}
.restaurant-page-user-review-star {
  padding-left: 1rem;
  display: flex;
  align-items: center;
}
.restaurant-page-user-review-star > p {
  margin-left: 0.5rem;
  margin-bottom: 0.3rem;
}

.restaurant-page-user-review-right > h3 {
  padding: 0 0.25rem 0.25rem 1rem;
  font-weight: 600;
}
.restaurant-page-user-review-right > p {
  font-size: 0.9rem;
  color: rgb(88, 88, 88);
  padding: 1rem;
}
.chart-container {
  width: 500px;
  height: 500px;
  border: 1px rgb(184, 184, 184) solid;
}
.restaurant-bottom-review-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

@media only screen and (max-width: 1100px) {
  .restaurant-bottom-review-container {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

@media only screen and (max-width: 768px) {
  .restaurant-page-user-review-left {
    margin: 0 auto;
  }
  .restaurant-page-body-image-container {
    padding: 0;
  }
  .restaurant-page-body-image-container {
    padding: 1rem;
  }
  .restaurant-page-user-review {
    flex-wrap: wrap;
  }
  .restaurant-page-user-review-image {
    margin: 1rem auto;
  }
}
@media only screen and (max-width: 550px) {
  .chart-container {
    width: 300px;
    height: 300px;
  }
}
@media only screen and (max-width: 480px) {
  .restaurant-page-user-review-star {
    flex-direction: column;
  }
  .restaurant-page-user-review-star > p {
    width: fit-content;
    margin-left: 0;
    margin-bottom: 0;
  }
  .restaurant-page-user-review-star {
    align-items: flex-start;
  }
  .restaurant-page-user-review-right {
    margin-top: 1rem;
  }
}
