:root {
  font-size: 16px;
  font-family: Helvetica, 微軟正黑體;
  --bg-primary: #ffffff;
  --bg-secondary: #819ad1;
  --bg-third: #000000;
  --bg-third-hover: #000000c4;
}
.restaurant-page-body-containter {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  /* padding: 7rem 4rem 0.5rem 2rem; */
  width: 100%;
}
.restaurant-page-body-info {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 5rem 10rem 1rem;
  box-shadow: 0 0 4px grey;
}

.restaurant-page-body-info-review {
  display: flex;
  align-items: center;
}

.restaurant-page-body-info-location {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.restaurant-page-body-info-location > p {
  padding-left: 0.25rem;
}

.restaurant-page-body-info-location > svg {
  padding-left: 0.25rem;
}
.restaurant-page-body-info-location > svg:not(*:first-child) {
  margin-left: 1rem;
  border-left: 1px grey solid;
  padding-left: 0.5rem;
}
.restaurant-page-body-info-location > *:nth-child(4) {
  color: grey;
}
.restaurant-page-body-info-total-review {
  margin: 0 0 0.2rem 0.3rem;
  padding: 0.2rem;
}
.restaurant-page-body-image-container {
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  width: 35.5rem;
}
.restaurant-page-box {
  background-color: #ffffff;
  border-radius: 2px;
  border: 1px solid #e0e0e0;
  border-top-color: rgb(224, 224, 224);
  border-top-style: solid;
  border-top-width: 1px;
  border-top: 0 solid #e0e0e0;
}
.restaurant-page-body-main-image-container > .restaurant-page-body-img {
  width: 100%;
}
.restaurant-page-body-main-image-container > .restaurant-page-body-img:hover {
  cursor: pointer;
  opacity: 0.7;
}
.restaurant-page-body-main-image-container {
  width: max(40%, 24rem);
}

.restaurant-page-body-second-image-container {
  display: flex;
  flex-direction: column;
  width: 11.5rem;
  padding-left: 1rem;
}
.restaurant-page-body-second-image-container > *:nth-child(1) {
  margin-top: 1rem;
}
.restaurant-page-body-second-image-container > *:nth-child(2) {
  padding-top: 1rem;
}

.restaurant-page-body-second-image-container > .restaurant-page-body-img {
  width: 100%;
}
.restaurant-page-body-second-image-container > .restaurant-page-body-img:hover {
  cursor: pointer;
  opacity: 0.7;
}
.restaurant-page-body-main-container {
  padding-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.restaurant-page-body-intro-container {
  margin: 1rem;
  padding: 2rem;
  width: 20ch;
  font-size: 1.5rem;
}
.restaurant-page-body-intro-container > h5 {
  margin: 0.5rem;
  font-size: 1.5rem;
  padding-bottom: 1rem;
  border-bottom: 1px #e0e0e0 solid;
}
.restaurant-page-body-intro-container > .restaurant-page-body-intro-sub {
  margin-top: 1rem;
}
.restaurant-page-body-intro-sub > p {
  font-size: 1rem;
  margin: 0.5rem;
  padding-bottom: 1rem;
}
.restaurant-page-body-intro-sub > h5 {
  font-size: 1.15rem;
  margin: 0.5rem;
}
.restaurant-page-reviews {
  margin: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  width: 60ch;
}
.restaurant-page-header > * {
  margin: 0.25rem 0.5rem 0.25rem 1rem;
}
.restaurant-page-header {
  display: flex;
  justify-content: space-between;
}
.restaurant-page-review-button > p {
  color: white;
}
.restaurant-page-review-button {
  padding: 0 0.5rem 0 0.5rem;
  display: flex;
  align-items: center;
  color: white;
  background-color: black;
  border: none;
  border-radius: 4px;
}
.restaurant-page-user-review-image {
  padding: 1rem;
  align-self: flex-end;
}
.restaurant-page-user-review-image > img {
  width: 10rem;
  height: 10rem;
  align-self: flex-end;
}

.restaurant-page-review-button:hover {
  cursor: pointer;
  background-color: #474646;
  transition: 0.2s;
}
.restaurant-page-user-review {
  margin-top: 1rem;
  border-top: 1px #cecece solid;
  border-bottom: 1px #cecece solid;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}
.restaurant-page-user-review-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  justify-content: space-between;
}
.restaurant-page-user-review-left-link > p:hover,
img:hover {
  cursor: pointer;
}
.restaurant-page-user-review-left-link:hover > p {
  text-decoration: none;
  color: #648de6;
  transition: 0.2s;
}
.restaurant-page-user-review-left-link:hover > img {
  opacity: 0.8;
  transition: 0.2s;
}

.restaurant-page-user-review-left-link > img {
  width: 5rem;
  border: 1px rgb(197, 197, 197) solid;
  height: 5rem;
  border-radius: 100%;
}
.restaurant-page-user-review-left-link > p {
  margin-top: 0.5rem;
  color: #002c8a;
  text-align: center;
}
.restaurant-page-user-review-right {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}
.restaurant-page-user-review-star {
  padding-left: 1rem;
  display: flex;
  align-items: center;
}
.restaurant-page-user-review-star > p {
  margin-left: 0.5rem;
  margin-bottom: 0.3rem;
}

.restaurant-page-user-review-right > h3 {
  padding: 0 0.25rem 0.25rem 1rem;
  font-weight: 600;
}
.restaurant-page-user-review-right > p {
  font-size: 0.9rem;
  color: rgb(88, 88, 88);
  padding: 1rem;
}
.chart-container {
  margin: 1rem;
  width: 400px;
  height: 400px;
}
.restaurant-bottom-review-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}
.restaurant-page-body-info-icon-container.order-2 {
  margin-left: 1rem;
  padding-left: 0.5rem;
  border-left: 1px #000000 solid;
}
.restaurant-map-container {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.restaurant-page-body-info-icon-container {
  display: flex;
  align-items: center;
}
.restaurant-map-container > h5 {
  margin: 0.5rem 0;
  font-size: 1.5rem;
  text-align: center;
}
.google-map-container {
  width: 400px;
  height: 400px;
}
.info-window-container {
  display: flex;
  flex-direction: column;
}

.info-window-container > p {
  font-weight: 500;
}

.restaurant-page-user-review-left-like-or-unlike {
  justify-content: center;
  align-items: center;
  display: flex;
}
.restaurant-page-user-review-like,
.restaurant-page-user-review-unlike {
  display: flex;
  align-items: center;
  padding: 0.5rem;
}
.restaurant-page-user-review-like > h5,
.restaurant-page-user-review-unlike > h5 {
  margin-left: 0.2rem;
}

.restaurant-page-user-review-unlike > div > svg:hover,
.restaurant-page-user-review-like > div > svg:hover {
  cursor: pointer;
  fill: black;
  transition: 0.2s;
}
@media only screen and (max-width: 1100px) {
  .restaurant-map-container > h5 {
    text-align: start;
  }
  .restaurant-page-reviews {
    width: 65%;
    padding: 2rem;
  }
  .restaurant-page-body-intro-container {
    width: 65%;
  }
  .restaurant-page-body-image-container {
    width: 65%;
  }
  .restaurant-radar-map-container {
    width: 65%;
    display: flex;
    padding: 2rem;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 2px;
    border: 1px solid #e0e0e0;
    border-top-color: rgb(224, 224, 224);
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: rgb(224, 224, 224);
    border-top-style: solid;
    border-top-width: 1px;
    border-top: 0 solid #e0e0e0;
    justify-content: center;
    align-items: center;
  }
  .restaurant-radar-map-container > * {
    border: none;
  }

  .restaurant-bottom-review-container {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .restaurant-page-body-main-container > *:first-child {
    order: 2;
  }
  .restaurant-page-body-main-container > *:nth-child(2) {
    order: 1;
  }
  .restaurant-map-container {
    margin: 0.25rem 0.5rem 0.25rem 1rem;
    padding: 0;
  }
}

@media only screen and (max-width: 768px) {
  .restaurant-page-body-info {
    padding: 5rem 5rem 1rem;
  }
  .restaurant-page-user-review-left {
    margin: 0 auto;
  }

  .restaurant-page-user-review {
    flex-wrap: wrap;
  }
  .restaurant-page-user-review-image {
    margin: 1rem auto;
  }
}
@media only screen and (max-width: 550px) {
  .restaurant-page-body-info {
    padding: 5rem 2rem 1rem;
  }
  .restaurant-page-box {
    margin: 2rem 0;
    width: 100%;
  }
  .restaurant-radar-map-container {
    width: 100%;
    padding: 0;
  }
  .restaurant-page-reviews {
    padding: 1rem 0;
    width: 100%;
  }
  .restaurant-map-container {
    align-items: center;
  }
  .restaurant-map-container > h5 {
    padding: 2rem;
    padding-bottom: 1rem;
  }
}
@media only screen and (max-width: 480px) {
  .restaurant-page-user-review {
    justify-content: space-evenly;
  }
  .restaurant-page-user-review-left {
    margin: 0;
  }
  .restaurant-page-user-review-star {
    flex-direction: column;
  }
  .restaurant-page-user-review-star > p {
    width: fit-content;
    margin-left: 0;
    margin-bottom: 0;
  }
  .restaurant-page-user-review-star {
    align-items: flex-start;
  }
  .restaurant-page-user-review-right {
    margin-top: 1rem;
  }
  .restaurant-page-body-info-location {
    flex-direction: column;
    align-items: flex-start;
  }
  .restaurant-page-body-info-icon-container > * {
    padding: 0.1rem;
  }
  .restaurant-page-body-info-icon-container.order-2 {
    border-left: none;
    padding: 0;
    margin: 0.25rem 0.1rem;
  }
  .chart-container {
    width: 350px;
    height: 350px;
  }
  .restaurant-map-real-container {
    width: 350px;
    height: 350px;
  }
  .google-map-container {
    width: 350px;
    height: 350px;
  }
}
